{% extends 'base.html' %}

{% block title %}<title>QS-Agent Orders</title>{% endblock %}

{% block content %}
<h1>Заказы</h1>
  <p>Вы находитесь на странице с заказами. </p>

  <div class="container">
      <hr>
      <h2> Статусы заказов </h2>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
            <th class="table-element">Артикул</th>
            <th class="table-element">RUS_DES</th>
            <th class="table-element">Кол-во</th>
            <th class="table-element">Срок изготовления</th>
            <th class="table-element">ETD</th>
            <th class="table-element">ETA</th>
            <th class="table-element">Дата поступления на склад</th>
            <th class="table-element">Заказ поставщику</th>
            <th class="table-element">Инициатор</th>
            </tr>
          </thead>
          <tbody>
            {% for part in orders %}
            <tr>
            <td class="table-element">{{ part.part_no}}</td>
            <td class="table-element">{{ part.rus_description}}</td>
            <td class="table-element">{{ part.q_ty}}</td>
            <td class="table-element">{{ part.lead_time }}</td>
            <td class="table-element">{{ part.etd }}</td>
            <td class="table-element">{{ part.eta }}</td>
            <td class="table-element">{{ part.delivery_date }}</td>
            <td class="table-element">{{ part.order_id}}</td>
            <td class="table-element">{{ part.manager}}</td>
            </tr>
            {% endfor %}
          </tbody>>
        </table>
      </div>
  </div>

{% endblock %}
